[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
pandas = "*"
geopandas = "*"
rtree = "*"
sqlalchemy = "*"
psycopg2-binary = "==2.8.6"
geoalchemy2 = "*"
sqlalchemy-utils = "*"
us = "*"
geojsplit = "*"
requests = "*"
boto3 = "*"

[requires]
python_version = "3.9"
